input,textarea,select:focus{
    outline: none !important;
}
.btn:focus{
    box-shadow: none !important;
}

.formwidth{
    width: 700px;
}
.date{
    margin-left: 83px;
    width: 436px;
    color: gray;
}
.email{
    margin-left: 77px;
    width: 436px;
}
.phone{
    width: 438px;
    margin-left: 55px;
}
.tranform{
    transform: translateY(-60px);
}
.select{
    margin-left: 30px;
    width: 440px;
    color: gray;
}
.zip{
    margin-right: 45px;
}